node_modules
dist
.git
.gitignore
*.md
coverage
.env
.env.*
!.env.example
uploads
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
infrastructure
.github
eslint.config.mjs
.prettierrc
scripts
public
.terraform
*.tfstate*
